<div class="zn-foot">
    <div class="foot-links">
        <ul>
            <li>推荐链接</li>
            <li><a target="_blank" href="https://developer.mozilla.org/en-US/">MDN(Mozilla Developer Network)</a></li>
            <li><a target="_blank" href="http://www.html5plus.org/">html5plus</a></li>
            <li><a target="_blank" href="http://www.html5rocks.com/">Html5rocks</a></li>
            <li><a target="_blank" href="http://stackoverflow.com/">Stackoverflow</a></li>
        </ul>
        <ul>
            <li>交流</li>
            <li>平台论坛</li>
            <li>QQ群：340038791</li>
            <li><a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=885757e8e1a961b7ad894b4b3a9d4de042989cd64620d52683e6e7d127988c62"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Zeanium官方交流群" title="Zeanium官方交流群"></a></li>
        </ul>
    </div>
    <div class="foot-common wrap">
        <p>Zeanium Server</p>
        <p>© 2016, Zeanium团队. 保留所有权利.</p>
    </div>
</div>
