<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Zeanium-Server V1.0.1</title>
        <link href="<%=appRoot%>/web/css/zn.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="zn-main">
            <div class="zn-head">
                <div class="warp">
                    <div class="title">Zeanium-Server(V1.0.0) 服务器管理</div>
                </div>
            </div>
            <div class="zn-body">
                <div class="file-detail warp">
                    <div class="file-path">访问路径：<%=root+url%></div>
                    <ul class="file-list">
                        <% for (var i = 0, _len = files.length; i < _len; i ++) { var file = files[i];%>
                            <li><a href="<%='/'+file%>"><%=file%></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <% include('__foot') %>
        </div>
    </body>
</html>
